.container{
    padding: 35px;
}

.formEdit{
    width: 100%;
}

.scopeField{
    min-width: 500px;
}

.rowPK{
    margin-left: 0.5px;
    margin-top: 10px;
}

.scopeLabel{
    // margin-left: 10px;
}
